@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <NavMenu />
    </LayoutHeader>
    <LayoutContent>
        <div class="content app-content">
            @Body
        </div>
    </LayoutContent>
</Layout>